div.header-bar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 13px;
}

div.header-bar /* #ClearListButton */button{
    margin-bottom:5px;
    border: none;
    background-color: rgba(99, 99, 99, 0.781);
    color: #ffffff;
    flex-grow:0;
}
.button-container {
    /* background-color:green; */
    align-self:flex-end;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    margin-top: 4px;
}
/* div.header-bar Switch+button{
    margin-left: 5px;
} */
#SettingsButton{
    margin-bottom:2px;
    margin-left:5px;
    flex-grow:0;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align:center;
    vertical-align:center;
    line-height:51%;
    font-size:22px;
    width:32px;
    height:32px;
    background:none;
    border-radius:50%;
    outline:none;
    color: #d8d6d6;
}
.button.editmode {
    margin-bottom:2px; 
    margin-left:5px;
    flex-grow:0;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align:center;
    vertical-align:center;
    line-height:51%;
    font-size:22px;
    width:32px;
    height:32px;
    background:none;
    border-radius:50%;
    outline:none;
    color: #d8d6d6;
}
/* div.header-bar button:active{
    background-color: rgba(158, 158, 158, 0.781);
}  */
#SettingsButton:hover{
    color: #ffffff;
}

#SettingsButton:active{
    transition-duration: 0.2s;
    background-color:#ffffff46;
    color: #ffffff;
}
.SwitchContainer{
    margin-right:4px;
    margin-bottom:9px;
    margin-left:5px;
    /* background-color:blue; */
    display:flex;
    flex-direction: row;
    color:white;
    justify-content:flex-end;
    align-items:center;
    padding-bottom:2px;
    /* background-color:red; */
}
.SwitchContainer label{
    /* margin-right:4px; */
    display:flex;
    flex-direction:column;
    line-height:95%;
    margin-right:5px;
}
.mdc-switch{
    margin-left:4px;
}


h1{
    font-size:1.4em;
    margin-top:5px;
    margin-bottom: 5px;
    color: #ffffff;
    /* border: 1px solid black; */
}

/* #SearchButton{
    flex-grow:0;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align:center;
    vertical-align:text-bottom;
    line-height:40%;
    font-size:20px;
    width:32px;
    height:32px;
    border-radius:50%;
    color: #d8d6d6;

} */