html{
    --scrollbarBG: /* #CFD8DC */transparent;
    --thumbBG: /* #90A4AE */#d3d3d3; 
}

title{
    text-overflow: ellipsis;
    text-align: start;
}

body{
    /* min-width: 350px; */
    width:350px;
    min-height: 380px;
    background-color: #181818;
}

div.header-bar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.header-bar button{
    margin-bottom:5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(99, 99, 99, 0.781);
    color: #ffffff;
}
div.header-bar button:active{
    background-color: rgba(158, 158, 158, 0.781);
}

h1{
    margin-bottom: 5px;
    color: #ffffff;
    /* border: 1px solid black; */
}

.main-list{
    /* background:red; */
    border-top: 1px solid #aaaaaa;  
    margin-right:0px;
    padding-top: 2px;
    max-width:350px;
    max-height:380px;
    display:block;
    overflow: hidden;
    overflow-y:auto;
    /* scrollbar-width: thin; */
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.main-list::-webkit-scrollbar {
    /* background:red; */
    width:8px;
    margin-top:10px;

}

.main-list::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius:3px;
    margin-top:10px;
}

.main-list::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  
.main-list-element{
    align-items: flex-start;
    display:flex;
    /* text-align:left; */
    margin-top: 8px;
   /*  margin-right:7px; */
    margin-bottom:8px;
    min-width: 200px;
    min-height: 90px;
    max-height: 90px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    /* line-height:3px; */
}




.main-list-element img{
    line-height:3px;
}

.main-list-element info{
    /* background-color: red; */
    flex-direction: column;
    align-items: flex-start;

}

.main-list-element info videoTitle{
    
    display: inline-block;
    vertical-align:top;
    margin-top:6px;
    margin-left: 6px;
    /* color: #ffffff; */
    font-size: 15px;
/*     min-width:205px;
    max-width:205px; */
    width:205px;
    /* max-height: 19px; */
    line-height:1.25em;
    
    max-height: 2.5em;
    word-break:break-word;
    /* white-space: nowrap; */
    white-space:pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-list-element info subtext{
   
    display: inline-block;
    text-decoration: underline;
    vertical-align:top;
    margin-top:3px;
    margin-left: 6px;
    color: #ffffff;
    font-size: 11px;
    max-width:210px;
    max-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-list-element info timeInfo{
    display:flex;
    justify-content:space-between;
    margin-left: 6px;
    margin-right:6px;
    padding-right: 6px;
    margin-top:3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #ffffff;
}




.main-list a{
    text-decoration: none;
    color: #ffffff;
}
.main-list a:visited{
    text-decoration:none;
}
.main-list a:hover{
    /* text-decoration: underline; */
    color: #cfcfcf;
}
.main-list a:active{
    color: #8d8d8d;
}

.main-list-element info bar{
    background: red;
    margin-top:24px;
    display: inline-block;
    height:3px;
    max-width:226px;
    /* width:150px; */
}
